<a href="https://colab.research.google.com/github/iambusra/complingproject/blob/main/Model_Trial_with_Arousal_Values_Only.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
!pip install pandas
!pip install xlsxwriter
!pip install openpyxl

import pandas as pd
import xlsxwriter
from google.colab import files
import io
import numpy as np

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (1.4.3)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)

In [51]:
# uploading the lexicon txt file which we will use for sentiment analysis via Files section on the left

In [52]:
# turning the file into a pandas data frame called lexicon

lexicon = pd.read_csv("Turkish-tr-NRC-VAD-Lexicon.txt", sep="\t", error_bad_lines=False)

In [53]:
# uploading news data via Files section on the left

In [54]:
# turning the file into a data frame called news
news = pd.read_excel("data_clean.xlsx")

# removing the first two columns, which do not contain any relevant information
news = news.drop(['Unnamed: 0', 'Haber Başlıkları'], axis = 1)
print(news)

                                               Linkler                                           Metinler
0                                    [Google Haberler]                                                NaN
1    http://www.haberinadresi.com/bursa-da-kadin-su...  [Bursa’da kimliği belirsiz bir kişi, gözüne ke...
2    http://www.pusulagazetesi.com.tr/kadin-surucu-...  Kadın sürücü kaza yaptı. Zonguldak’ta Kapuz Ma...
3    http://www.pusulagazetesi.com.tr/kadin-surucu-...  Kadın sürücü ve annesi yaralandı, kaza anı kam...
4    http://www.pusulagazetesi.com.tr/kaza-yapan-ka...  Zonguldak’ın Ereğli ilçesinde sürücünün direks...
..                                                 ...                                                ...
226  https://www.sozcu.com.tr/2021/gundem/alkollu-k...  İzmir'in Konak ilçesinde, otomobili uygulama n...
227  https://www.sozcu.com.tr/2021/gundem/seyahat-i...  Edinilen bilgilere göre, ilçe dışından gelen v...
228  https://www.sozcu.com.tr/2021/gunun-icinden/ar...  Antalya'nın Alanya ilçesinde direksiyon hakimi...
229  https://www.trthaber.com/haber/guncel/kentin-t...  Kentin tek kadın ambulans şoförü oldu\nKayseri...
230  https://www.yenisafak.com/hayat/akasya-duragin...  Osmaniye'de Döndü Bahargülü, takip ettiği dizi...

[231 rows x 2 columns]

In [55]:
news.describe()

                                                  Linkler Metinler
count                                                 231      227
unique                                                222      219
top     https://www.milliyet.com.tr/milliyet-tv/kadinl...       []
freq                                                    2        4

In [56]:
# upload also sürücü data

# turning the file into a data frame called news
news_sürücü = pd.read_excel("/content/data_surucu.xlsx")

# removing the first two columns, which do not contain any relevant information
news_sürücü = news_sürücü.drop(['Unnamed: 0', 'Haber Başlıkları'], axis = 1)
print(news_sürücü)

                                              Linkler                                           Metinler
0                                   [Google Haberler]                                                NaN
1   http://www.adayorum.com/alkolltrafige-kapali-y...  Sakarya’nın Sapanca ilçesinde alkollü sürücü i...
2   http://www.boluolay.com/bolu/dur-ihtarina-uyma...  Polisin dur ihtarına uymayarak kaçmaya başlaya...
3   https://www.sakaryadanhaber.com/haber/7262954/...  Kocaeli’nin Gebze ilçesinde 8 yaşındaki çocuk,...
4   https://www.golcukgundem.com/haber/7259308/alk...  Alkollü olduğu iddia edilen sürücü aşırı hız y...
..                                                ...                                                ...
93  https://tr.sputniknews.com/abd/202105271044596...  ABD’de geçtiğimiz pazar günü önce telefonda po...
94  https://shiftdelete.net/nvidia-bazi-ekran-kart...  SDN Network, SDN Teknoloji Haberleri, Mediatre...
95  https://www.haberturk.com/kayseri-haberleri/87...  Haberturk.com ekibi olarak Türkiye’de ve dünya...
96  https://www.milliyet.com.tr/gundem/kisitlamayi...  Olay, gece Kepez ilçesi Necip Fazıl Kısakürek ...
97  https://www.milliyet.com.tr/gundem/surucu-bir-...  Karabük'te sürücüsünün kontrolünü kaybettiği o...

[98 rows x 2 columns]

In [57]:
news_sürücü["label"] = "neutral"
news["label"] = "biased"
news = news.append(news_sürücü)

In [58]:
news.describe()

                                                  Linkler Metinler   label
count                                                 329      321     329
unique                                                318      313       2
top     https://www.hurriyet.com.tr/gundem/kadin-suruc...       []  biased
freq                                                    2        4     231

In [59]:
# there are duplicates in Linkler and Metinler column. Let's remove duplicates from the data
news = news.drop_duplicates(subset='Linkler')
news = news.drop_duplicates(subset='Metinler')
news.describe()

                                                  Linkler  ...   label
count                                                 306  ...     306
unique                                                306  ...       2
top     https://www.dha.com.tr/yurt/esi-endiselendi-ka...  ...  biased
freq                                                    1  ...     213

[4 rows x 3 columns]

Yes! We do not have any duplicates anymore. Now we can go on to code our labels as integers for our model. Let's stick to alphabetical order and code "biased" as 0 and "neutral" as 1.

In [60]:
labels = {'biased':0,'neutral':1}
news['label'] = news.label.map(labels)

news[205:220]

                                               Linkler  ... label
222  https://www.sabah.com.tr/yasam/2021/06/02/duzc...  ...     0
223  https://www.sabah.com.tr/yasam/2021/06/03/kirm...  ...     0
224  https://www.sondakika.com/haber/haber-kisitlam...  ...     0
225  https://www.sondakika.com/haber/haber-son-daki...  ...     0
226  https://www.sozcu.com.tr/2021/gundem/alkollu-k...  ...     0
227  https://www.sozcu.com.tr/2021/gundem/seyahat-i...  ...     0
229  https://www.trthaber.com/haber/guncel/kentin-t...  ...     0
230  https://www.yenisafak.com/hayat/akasya-duragin...  ...     0
1    http://www.adayorum.com/alkolltrafige-kapali-y...  ...     1
2    http://www.boluolay.com/bolu/dur-ihtarina-uyma...  ...     1
3    https://www.sakaryadanhaber.com/haber/7262954/...  ...     1
4    https://www.golcukgundem.com/haber/7259308/alk...  ...     1
5    https://www.rizeninsesi.net/haber-kisitlamayi-...  ...     1
6    https://www.haberturk.com/formula-1-puan-durum...  ...     1
7    https://www.haberturk.com/usak-haberleri/87844...  ...     1

[15 rows x 3 columns]

In [61]:
# Let's drop NaN rows and shuffle the rows so that neutral and biased rows are mixed
news = news.dropna()
news = news.sample(frac = 1)
news.head(10)

                                               Linkler  ... label
213  https://www.haberturk.com/antalya-haberleri/87...  ...     0
52   https://www.gursesgazetesi.com/yasam/manisada-...  ...     1
128  https://www.milliyet.com.tr/milliyet-tv/aracta...  ...     0
33   https://www.ensonhaber.com/3-sayfa/adanada-ehl...  ...     0
27   https://www.denizli24haber.com/haber/fethiyede...  ...     0
18   http://www.marmaragazetesi.com/dur-ihtarina-uy...  ...     1
46   https://www.hurriyet.com.tr/gundem/beylikduzun...  ...     0
170  https://www.haberler.com/korna-calan-kadin-sur...  ...     0
39   https://www.haberdenizli.com/m/guncel/denizli-...  ...     0
90   https://www.milliyet.com.tr/gundem/yolda-durdu...  ...     0

[10 rows x 3 columns]

In [62]:
# preprocessing function that we have written in the class.
# We are using Turkish stop words this time since our data is in Turkish.

import nltk
import string
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords

stopwords = set(stopwords.words('turkish'))

def PreprocessNews(text):
  text = text.lower()
  text = text.translate(str.maketrans('', '', string.punctuation))
  tokenized_text = nltk.word_tokenize(text)
  clean_text = [word for word in tokenized_text if word not in stopwords ]
  return(clean_text)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [63]:
# to make sure that every row in Metinler is of type str for preprocessing
# news.Metinler = news.Metinler.astype(str)

In [64]:
# preprocessing our news bodies
news['Metinler'] = news.apply(lambda x: PreprocessNews(x['Metinler']),axis=1)

In [65]:
news.head(10)

                                               Linkler  ... label
213  https://www.haberturk.com/antalya-haberleri/87...  ...     0
52   https://www.gursesgazetesi.com/yasam/manisada-...  ...     1
128  https://www.milliyet.com.tr/milliyet-tv/aracta...  ...     0
33   https://www.ensonhaber.com/3-sayfa/adanada-ehl...  ...     0
27   https://www.denizli24haber.com/haber/fethiyede...  ...     0
18   http://www.marmaragazetesi.com/dur-ihtarina-uy...  ...     1
46   https://www.hurriyet.com.tr/gundem/beylikduzun...  ...     0
170  https://www.haberler.com/korna-calan-kadin-sur...  ...     0
39   https://www.haberdenizli.com/m/guncel/denizli-...  ...     0
90   https://www.milliyet.com.tr/gundem/yolda-durdu...  ...     0

[10 rows x 3 columns]

# Let's find the words that are present both in the Lexicon and the news bodies.

In [66]:
# a loop that will save to matching_words list the tokens in the news bodies which have a matching entry in the lexicon.
matching_words = []
for sentence in metinler:
  for word in sentence:
    if word in lexicon["Turkish-tr"].tolist():
      matching_words.append(word)

# It took 15 seconds to complete. Let's check the first 50 matching tokens.
matching_words[0:50]

NameError: ignored

**How many words in our news bodies will end up having sentiment values by virtue of being listed in the lexicon?**

In [ ]:
len(matching_words)

**We have 11477 tokens in news bodies which are listed in the lexicon. Cool!**

**And how many types?**

In [ ]:
len(np.unique(matching_words))

**We have 1206 types in news bodies that are in the Sentiment lexicon and this is the number we get without using any morphological analyzer. We will incorporate an analyzer (as Büşra Marşan's or a better one) to increase this number.**

This notebook was sort of an exploratory analysis to see if our lexicon will be useful or not. Based on the number of matching lexical items, this lexicon seems promising at least for this project. Now, what we further need to do is to find the matching lexical items in our lexicon for all words (including the morphologically complex ones) in our data and assign them the corresponding sentiment values.

Then, we will move on to randomly separate our data so that we have different data sets for both training and testing phases. Also, we will categorize the news (supervised learning) as biased or neutral in order to teach our model how to categorize them by analyzing the features (sentiment values) in the data frame.

Finally, we will give the classifier we built the uncategorized test data and see if it can classify them based on sentiment values. We will evaluate the classifier on different dimensions like accuracy and precision by using scikitlearn.

# Assigning Sentiment Values to Tokens in the News Body

In [67]:
# create empty lists for saving sentiment values in the loop below
A = []
D = []
V =[]

# create variables with type int and value 0 so that we can add the sentiment values
# for each token to them and return the total sentiment values of a news body in the end.


# Look at the news body one by one (one row at a time).
# Then for the news body in that row, find sentiment value for each word.
# Add them up until moving onto the next news body in the next row.
for metin in news['Metinler']:
  for word in metin:
    if word in lexicon["Turkish-tr"].tolist():
      arousal = 0
      dominance = 0
      valence = 0
      arousal += lexicon["Arousal"][lexicon["Turkish-tr"].tolist().index(word)]
      dominance += lexicon["Dominance"][lexicon["Turkish-tr"].tolist().index(word)]
      valence += lexicon["Valence"][lexicon["Turkish-tr"].tolist().index(word)]

  A.append([arousal])
  D.append([dominance])
  V.append([valence])



print(A)
print(D)
print(V)

[[0.292], [0.324], [0.434], [0.385], [0.33], [0.235], [0.33399999999999996], [0.461], [0.292], [0.314], [0.77], [0.51], [0.292], [0.42], [0.33399999999999996], [0.32799999999999996], [0.287], [0.447], [0.33], [0.51], [0.511], [0.235], [0.37], [0.25], [0.5489999999999999], [0.361], [0.5589999999999999], [0.594], [0.295], [0.461], [0.368], [0.49200000000000005], [0.99], [0.48], [0.36], [0.6890000000000001], [0.25], [0.716], [0.47200000000000003], [0.436], [0.33299999999999996], [0.62], [0.368], [0.25], [0.33], [0.292], [0.44299999999999995], [0.42], [0.25], [0.433], [0.37], [0.33], [0.51], [0.5770000000000001], [0.51], [0.5589999999999999], [0.565], [0.235], [0.318], [0.35], [0.565], [0.34], [0.2], [0.392], [0.33], [0.68], [0.625], [0.318], [0.28800000000000003], [0.33399999999999996], [0.33399999999999996], [0.24100000000000002], [0.368], [0.42], [0.363], [0.375], [0.235], [0.33299999999999996], [0.37], [0.24], [0.43700000000000006], [0.409], [0.17300000000000001], [0.276], [0.33299999999999996], [0.33299999999999996], [0.594], [0.561], [0.726], [0.275], [0.667], [0.943], [0.745], [0.292], [0.349], [0.539], [0.413], [0.469], [0.42], [0.51], [0.33], [0.275], [0.42], [0.42], [0.33], [0.5], [0.33], [0.20600000000000002], [0.391], [0.42], [0.45], [0.33], [0.536], [0.42], [0.5], [0.5589999999999999], [0.25], [0.623], [0.33], [0.292], [0.292], [0.726], [0.48], [0.33299999999999996], [0.594], [0.353], [0.235], [0.38799999999999996], [0.521], [0.235], [0.36700000000000005], [0.32799999999999996], [0.99], [0.402], [0.314], [0.527], [0.552], [0.42], [0.22399999999999998], [0.99], [0.363], [0.794], [0.368], [0.569], [0.292], [0.35600000000000004], [0.25], [0.33], [0.235], [0.711], [0.368], [0.42], [0.745], [0.5589999999999999], [0.428], [0.353], [0.368], [0.77], [0.42], [0.594], [0.625], [0.33299999999999996], [0.36], [0.316], [0.42], [0.439], [0.623], [0.578], [0.433], [0.565], [0.33299999999999996], [0.5589999999999999], [0.42], [0.38], [0.33299999999999996], [0.616], [0.99], [0.55], [0.461], [0.461], [0.25], [0.292], [0.235], [0.6859999999999999], [0.355], [0.5660000000000001], [0.33], [0.519], [0.375], [0.6890000000000001], [0.441], [0.42], [0.33], [0.25], [0.5], [0.18899999999999997], [0.606], [0.342], [0.688], [0.48], [0.292], [0.127], [0.77], [0.235], [0.48], [0.36], [0.446], [0.42], [0.33], [0.755], [0.389], [0.441], [0.42700000000000005], [0.77], [0.33], [0.324], [0.42], [0.37], [0.529], [0.42], [0.5589999999999999], [0.833], [0.368], [0.235], [0.441], [0.48], [0.47100000000000003], [0.5589999999999999], [0.33], [0.99], [0.99], [0.435], [0.7040000000000001], [0.7040000000000001], [0.83], [0.519], [0.353], [0.37], [0.33299999999999996], [0.33], [0.42], [0.276], [0.275], [0.99], [0.7020000000000001], [0.33], [0.38799999999999996], [0.519], [0.33399999999999996], [0.33], [0.529], [0.606], [0.40700000000000003], [0.35], [0.349], [0.662], [0.16699999999999998], [0.235], [0.58], [0.35700000000000004], [0.36], [0.33], [0.565], [0.848], [0.99], [0.43700000000000006], [0.43700000000000006], [0.688], [0.42], [0.4], [0.77], [0.355], [0.36], [0.35], [0.42], [0.35700000000000004], [0.221], [0.353], [0.569], [0.33], [0.5], [0.355], [0.769], [0.275], [0.64], [0.275], [0.77], [0.25], [0.461], [0.42], [0.5589999999999999], [0.275], [0.42], [0.389], [0.324], [0.41200000000000003], [0.193], [0.436], [0.35700000000000004], [0.235], [0.561], [0.327], [0.565], [0.441], [0.42]]
[[0.37], [0.565], [0.779], [0.43799999999999994], [0.46399999999999997], [0.5429999999999999], [0.574], [0.7859999999999999], [0.37], [0.434], [0.836], [0.652], [0.37], [0.536], [0.574], [0.292], [0.755], [0.836], [0.642], [0.643], [0.434], [0.5429999999999999], [0.441], [0.586], [0.508], [0.348], [0.518], [0.667], [0.7120000000000001], [0.7859999999999999], [0.534], [0.284], [0.6729999999999999], [0.51], [0.821], [0.713], [0.426], [0.847], [0.29100000000000004], [0.5], [0.723], [0.327], [0.534], [0.426], [0.642], [0.37], [0.42200000000000004], [0.536], [0.426], [0.483], [0.536], [0.642], [0.643], [0.736], [0.643], [0.518], [0.61], [0.5429999999999999], [0.679], [0.594], [0.61], [0.429], [0.40399999999999997], [0.6579999999999999], [0.642], [0.302], [0.534], [0.679], [0.379], [0.574], [0.574], [0.45299999999999996], [0.534], [0.536], [0.596], [0.546], [0.5429999999999999], [0.723], [0.361], [0.5539999999999999], [0.552], [0.451], [0.233], [0.397], [0.723], [0.723], [0.667], [0.51], [0.40299999999999997], [0.34], [0.377], [0.63], [0.843], [0.45799999999999996], [0.298], [0.83], [0.435], [0.441], [0.536], [0.652], [0.461], [0.34], [0.536], [0.536], [0.461], [0.7879999999999999], [0.46399999999999997], [0.509], [0.698], [0.536], [0.302], [0.642], [0.391], [0.536], [0.536], [0.518], [0.426], [0.361], [0.642], [0.37], [0.37], [0.40299999999999997], [0.5], [0.723], [0.667], [0.336], [0.5429999999999999], [0.5379999999999999], [0.48], [0.5429999999999999], [0.25], [0.292], [0.6729999999999999], [0.358], [0.605], [0.6], [0.474], [0.536], [0.278], [0.6729999999999999], [0.596], [0.406], [0.534], [0.721], [0.37], [0.621], [0.426], [0.642], [0.5429999999999999], [0.614], [0.534], [0.536], [0.843], [0.518], [0.753], [0.526], [0.534], [0.836], [0.536], [0.667], [0.534], [0.723], [0.821], [0.433], [0.536], [0.7120000000000001], [0.361], [0.608], [0.483], [0.61], [0.723], [0.518], [0.536], [0.914], [0.723], [0.6890000000000001], [0.6729999999999999], [0.45399999999999996], [0.7859999999999999], [0.7859999999999999], [0.586], [0.37], [0.5429999999999999], [0.48100000000000004], [0.48], [0.255], [0.461], [0.509], [0.546], [0.713], [0.473], [0.536], [0.642], [0.426], [0.7879999999999999], [0.42100000000000004], [0.629], [0.528], [0.361], [0.51], [0.37], [0.38], [0.836], [0.5429999999999999], [0.5], [0.655], [0.49], [0.536], [0.642], [0.46299999999999997], [0.434], [0.637], [0.551], [0.836], [0.642], [0.565], [0.536], [0.361], [0.555], [0.536], [0.518], [0.727], [0.534], [0.5429999999999999], [0.473], [0.5], [0.272], [0.518], [0.642], [0.6729999999999999], [0.6729999999999999], [0.509], [0.8240000000000001], [0.8240000000000001], [0.529], [0.425], [0.358], [0.614], [0.723], [0.46399999999999997], [0.536], [0.386], [0.34], [0.6729999999999999], [0.24], [0.642], [0.5379999999999999], [0.321], [0.574], [0.642], [0.616], [0.629], [0.66], [0.594], [0.298], [0.596], [0.3], [0.5429999999999999], [0.61], [0.7490000000000001], [0.821], [0.46399999999999997], [0.61], [0.55], [0.6729999999999999], [0.552], [0.552], [0.361], [0.536], [0.384], [0.836], [0.48], [0.821], [0.682], [0.536], [0.45399999999999996], [0.11599999999999999], [0.526], [0.721], [0.642], [0.537], [0.48], [0.35600000000000004], [0.34], [0.179], [0.34], [0.836], [0.426], [0.7859999999999999], [0.536], [0.518], [0.34], [0.536], [0.593], [0.565], [0.33], [0.431], [0.5], [0.7490000000000001], [0.5429999999999999], [0.7], [0.39], [0.61], [0.637], [0.536]]
[[0.542], [0.552], [0.91], [0.49], [0.5], [0.622], [0.48], [0.7040000000000001], [0.542], [0.542], [0.327], [0.7290000000000001], [0.542], [0.541], [0.48], [0.375], [0.833], [0.65], [0.75], [0.42700000000000005], [0.43799999999999994], [0.622], [0.49], [0.631], [0.57], [0.5479999999999999], [0.32299999999999995], [0.74], [0.54], [0.7040000000000001], [0.938], [0.316], [0.062], [0.867], [0.8370000000000001], [0.625], [0.5], [0.75], [0.281], [0.6629999999999999], [0.58], [0.40399999999999997], [0.938], [0.5], [0.75], [0.542], [0.5], [0.541], [0.5], [0.635], [0.6559999999999999], [0.75], [0.42700000000000005], [0.833], [0.42700000000000005], [0.32299999999999995], [0.20800000000000002], [0.622], [0.708], [0.49], [0.20800000000000002], [0.45799999999999996], [0.52], [0.8740000000000001], [0.75], [0.083], [0.753], [0.708], [0.64], [0.48], [0.48], [0.653], [0.938], [0.541], [0.6459999999999999], [0.615], [0.622], [0.58], [0.354], [0.67], [0.531], [0.514], [0.354], [0.48], [0.58], [0.58], [0.74], [0.451], [0.059000000000000004], [0.45799999999999996], [0.32299999999999995], [0.071], [0.8370000000000001], [0.625], [0.198], [0.8190000000000001], [0.823], [0.5920000000000001], [0.541], [0.7290000000000001], [0.633], [0.45799999999999996], [0.541], [0.541], [0.633], [0.6459999999999999], [0.5], [0.562], [0.667], [0.541], [0.561], [0.75], [0.245], [0.541], [0.536], [0.32299999999999995], [0.5], [0.24], [0.75], [0.542], [0.542], [0.059000000000000004], [0.6940000000000001], [0.58], [0.74], [0.43799999999999994], [0.622], [0.531], [0.643], [0.622], [0.309], [0.375], [0.062], [0.573], [0.767], [0.8370000000000001], [0.65], [0.541], [0.677], [0.062], [0.6459999999999999], [0.146], [0.938], [0.45799999999999996], [0.542], [0.64], [0.5], [0.75], [0.622], [0.42700000000000005], [0.938], [0.541], [0.8370000000000001], [0.32299999999999995], [0.688], [0.958], [0.938], [0.327], [0.541], [0.74], [0.753], [0.58], [0.8370000000000001], [0.36700000000000005], [0.541], [0.823], [0.24], [0.578], [0.635], [0.20800000000000002], [0.58], [0.32299999999999995], [0.541], [0.8440000000000001], [0.58], [0.9590000000000001], [0.062], [0.551], [0.7040000000000001], [0.7040000000000001], [0.631], [0.542], [0.622], [0.33299999999999996], [0.6629999999999999], [0.20800000000000002], [0.633], [0.521], [0.615], [0.625], [0.396], [0.541], [0.75], [0.5], [0.6459999999999999], [0.5489999999999999], [0.8059999999999999], [0.57], [0.153], [0.867], [0.542], [0.74], [0.327], [0.622], [0.6940000000000001], [0.73], [0.833], [0.541], [0.75], [0.75], [0.604], [0.67], [0.935], [0.327], [0.75], [0.552], [0.541], [0.354], [0.6459999999999999], [0.541], [0.32299999999999995], [0.29], [0.938], [0.622], [0.396], [0.6940000000000001], [0.612], [0.32299999999999995], [0.75], [0.062], [0.062], [0.604], [0.812], [0.812], [0.021], [0.708], [0.677], [0.8059999999999999], [0.58], [0.5], [0.541], [0.865], [0.45799999999999996], [0.062], [0.08199999999999999], [0.75], [0.531], [0.41700000000000004], [0.48], [0.75], [0.531], [0.8059999999999999], [0.75], [0.49], [0.198], [0.266], [0.907], [0.622], [0.633], [0.74], [0.8370000000000001], [0.5], [0.20800000000000002], [0.16699999999999998], [0.062], [0.531], [0.531], [0.153], [0.541], [0.622], [0.327], [0.6629999999999999], [0.8370000000000001], [0.49], [0.541], [0.625], [0.177], [0.958], [0.45799999999999996], [0.75], [0.8], [0.6629999999999999], [0.214], [0.45799999999999996], [0.146], [0.45799999999999996], [0.327], [0.5], [0.7040000000000001], [0.541], [0.32299999999999995], [0.45799999999999996], [0.541], [0.757], [0.552], [0.385], [0.49], [0.6629999999999999], [0.74], [0.622], [0.6629999999999999], [0.653], [0.20800000000000002], [0.67], [0.541]]

**NOT SURE IF WE NEED TO TURN SENTIMENT VALUES INTO FLOATS RATHER THAN LEAVING THEM AS LISTS**

In [ ]:
# Check if the number of rows in the news match the number of items in the lists A, D, and V.
print(len(A))
print(len(D))
print(len(V))

# 305 rows as expected. Great!

In [68]:
# Let's append these lists with sentiment values to news data frame.
news["Arousal"] = A
news["Dominance"] = D
news["Valence"] = V
news.head()

                                               Linkler  ...  Valence
213  https://www.haberturk.com/antalya-haberleri/87...  ...  [0.542]
52   https://www.gursesgazetesi.com/yasam/manisada-...  ...  [0.552]
128  https://www.milliyet.com.tr/milliyet-tv/aracta...  ...   [0.91]
33   https://www.ensonhaber.com/3-sayfa/adanada-ehl...  ...   [0.49]
27   https://www.denizli24haber.com/haber/fethiyede...  ...    [0.5]

[5 rows x 6 columns]

In [69]:
# saving the data frame with sentiment values
writer = pd.ExcelWriter('Sentiment_data_clean_surucu.xlsx')
news.to_excel(writer)
writer.save()

# Arousal Modeling Trial

There are 305 rows. 20% of the data should go to test and the rest to training.

*   x_train = training input data
*   y_train = training labels
*   x_test = test input data
*   y_test = test labels

In [ ]:
test_rows = news.sample(frac = 0.2, random_state = 42)

print(test_rows)

61 rows. Let's get the remaining as the training data.

In [ ]:
training_rows = news.drop(test_rows.index)

print(training_rows)

Training data has 217 rows. It makes 278 in total. Where is the rest? 27 rows vanished?!

In [95]:
# subsetting the relevant input output for test data

x_test = test_rows["Arousal"]
y_test = test_rows["label"]

print(x_test)
print(y_test)

99                   [0.25]
227                 [0.428]
42                   [0.33]
136                 [0.519]
189                 [0.565]
               ...
81                  [0.529]
18                   [0.33]
71                  [0.565]
43                    [0.5]
131    [0.5660000000000001]
Name: Arousal, Length: 61, dtype: object
99     0
227    0
42     1
136    0
189    0
      ..
81     1
18     0
71     1
43     1
131    0
Name: label, Length: 61, dtype: int64

In [ ]:
# subsetting the relevant input(x) output(y) for training data

x_train = training_rows["Arousal"]
y_train = training_rows["label"]

print(x_training)
print(y_training)

In [80]:
# import CountVectorizer and create an instance of the object 
from sklearn.feature_extraction.text import CountVectorizer
bag_of_words = CountVectorizer(analyzer = lambda x: x)
training_data = bag_of_words.fit_transform(x_train)

In [ ]:
# let us print the size of our vocabulary, namely Arousal Values
print('vocabulary size: {}'.format(len(bag_of_words.get_feature_names())))

# let us print 20 words from the vocabulary
bag_of_words.get_feature_names()[50:70]

In [86]:
# let's see the test data input
test_data = bag_of_words.transform(x_test)

In [87]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [88]:
predictions = naive_bayes.predict(test_data)

In [89]:
predictions[0:50]

array([1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0])

In [ ]:
list(x_test)[0:50]

In [ ]:
print(test_data)

In [ ]:
test_rows["Predictions"] = predictions

In [98]:
writeit = pd.ExcelWriter('test_predictions.xlsx')
test_rows.to_excel(writeit)
writeit.save()

Sorry for the mess but the codes in the last part are just to see the testing data frame in an excel to compare the predictions and the original labels along with the nes bodies. 43 correct predictions out of 61 labels. Decent. Next we should try to work out a model consisting all 3 sentiment values as the input and the label as the output.